.Spotify{
    margin: auto;
    text-decoration: none;
    background-color: #1DB954;
    color: #fff;
    border-radius: 500px;
    width: 160px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
    padding: 18px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    overflow-wrap: break-word;
}
.Spotify *{
    padding: 0;
    margin: 0;
}
.Spotify:hover{
    background-color: #1ed760;
}